node_modules
.next
.next/cache
.next/server/dev-cache
.git
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.vscode
.DS_Store
dist
coverage
test
test-failure.png
.env
.env.*
prisma/dev.db
**/*.map
/.next/trace
/.next/types
